/* Global */

.full-tem {
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
	background-color: #262626;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}

/* Header */

.bnr img {
	width: 100%;
}

/* Pro Info */

.pro-title {
	font-size: 36px;
	line-height: 1.1;
}

.block-heading {
	-webkit-text-stroke: 0.5px #F97D01;
	-webkit-text-fill-color: transparent;
	font-size: 80px;
	line-height: 1.1;
	font-family: 'Bebas Neue', cursive;
	margin-bottom: 20px;
}